gufg
bmpout
rand
replay
*.pyc
*.o
*.a
*.7z
*.zip
*.dll
*.app
*.exe
*.lib
*.cmake
*.swp
*.conf
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles
.data
dump
doc/*
Doxyfile
.sconsign.dblite
_*.so
engine.py
characters.py
src/engine/*wrap.cxx
src/*wrap.cxx
build/
